# Basura de compilación de PlatformIO
.pio/
.vscode/
*.egg-info
3d_design/*.gcode
repomix-output.xml

# ARCHIVOS SECRETOS CON CONTRASEÑAS O IPS REALES (¡NUNCA SUBIR A GITHUB!)
src/secrets.h
secrets.ini
scripts/local_config.py

# Archivos temporales de sistema o compilación local
.DS_Store
Thumbs.db
*.o
*.elf
*.bin
__pycache__/
*.pyc
