# Basura de compilación de PlatformIO
.pio/
.vscode/
*.egg-info
3d_design/*.gcode
repomix-output.xml

# ARCHIVO SECRETO CON CONTRASEÑAS (¡NUNCA SUBIR A GITHUB!)
src/secrets.h

# Archivos temporales de sistema o compilación local
.DS_Store
Thumbs.db
*.o
*.elf
*.bin
